<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Upper price</th>
      <th>Lower price</th>
      <th>Location</th>
      <th>Title</th>
      <th>Status</th>
      <th>Subject area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.user %></td>
        <td><%= task.subject %></td>
        <td><%= task.description %></td>
        <td><%= task.upper_price %></td>
        <td><%= task.lower_price %></td>
        <td><%= task.location %></td>
        <td><%= task.title %></td>
        <td><%= task.status %></td>
        <td><%= task.subject_area %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
