<!DOCTYPE html>
<html>
<head>
  <title>HeySenior</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar" id="cus-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag "logo-small", width: "134px" %>
      </a>
    </div>

      <div class="navbar-form navbar-right visible-lg-inline visible-md-inline">
        <button class="btn cus-nav-btn">Ask for Help</button>
      </div>
      <ul class="nav navbar-nav navbar-right cus-nav-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#" class="visible-lg-inline visible-md-inline">Sign up</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  <!-- </div>/.container-fluid -->
</nav>

<%= yield %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
