<!DOCTYPE html>
<html>
<head>
  <title>HeySenior</title>

  <!-- user zoom is only disabled in the form input page. -->
  <% if params['controller'] == 'home' && params['action'] == 'interest'  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <% else %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% end %>

  <!-- Open Graph Protocal for Facebook Crawler -->
  <meta property="fb:admins" content="1228048208" />
  <meta property="og:title" content="HeySenior -- Find Tutors Easily" />
  <meta property="og:site_name" content="HeySenior" />
  <meta property="og:description" content="Find tutors easily. Post relevant information about the study help you need, and wait for tutors to apply." />
  <meta property="og:url" content="http://www.heysenior.com" />
  <meta property="og:image" content="<%= asset_url 'site_image.png' %>" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar" id="cus-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo-small.png", width: "134px" %>
        </a>
      </div>

      <div class="navbar-form navbar-right visible-lg-inline visible-md-inline">
        <%= link_to interest_path(page: 'ask_for_help') do %>
          <button class="btn cus-blue-btn no-style-link">Ask for Help</button>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right cus-nav-nav">
        <li><%= link_to "Login", interest_path(page: 'login') %></li>
        <li><%= link_to "Sign up", interest_path(page: 'sign_up'), class: "visible-lg-inline visible-md-inline" %></li>
      </ul>
    </div>
  </nav>

  <%= render 'layouts/messages' %>
  <%= yield %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <footer class="footer">
    <div class="container">
      Contact Us: &nbsp;&nbsp;<a href="mailto:heysenior.com@gmail.com" class="no-style-link">heysenior.com@gmail.com</a>
      <br>
      Copyright (c) 2015
    </div>
  </footer>
</body>
</html>
